@mixin btnStyle($width, $padding, $radius) {
  width: $width;
  background-color: #bdd731;
  padding: $padding;
  border-radius: $radius;
  border: none;
  font-weight: 600;
  &:hover {
    filter: contrast(.8)
  }
}
